<div class="row-fluid">
  <div class="span6">
  	<h2>User Info</h2>
	<p><%= @user.name %></p>
	<p><%= @user.email %></p>
	<p><%= link_to "Update", edit_user_path(current_user), class: "btn btn-primary" %></p>
  </div>
  <div class="span6">
  	<h2>Your Plates</h2>
  	<div id="plates"><% current_user.plates.each do |plate| %>
  		<div class="plate">
  			<%= link_to plate.license, ticket_path(plate) %>
  		</div>
  		<div>
        <%= link_to "Delete", plate, method: "delete", 
            class: "btn btn-mini" %>
        <%= link_to "Check tickets", plates_scraper_path(plate_id: plate), 
            class: "btn btn-mini" %>
        </div>
  		<% end %>
  	</div>
  <%= form_for(@plate) do |f| %>
	<div class="control-group">
		<%= f.label :Add_plate, class: 'control-label' %>
		<div class="controls">
			<%= f.text_field :license %>
		</div>
	</div>
	<div class="control-group" >
    	<div class="controls">
      <%= f.submit 'Add', class: 'btn btn-primary'%>
    </div>
  </div>
  <% end %>
  </div>
</div>
<div class='row-fluid'>
  <div class="tickets">    
    <h2>Your Tickets</h2>
  </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Citation Number</th>
            <th>Date</th>
            <th>Price</th>
            <th>Fee</th>
            <th>Total</th>
          </tr>
        </thead>
      <% current_user.plates.each do |plate| %>
        <% plate.tickets.each do |ticket| %>
        <tbody>
          <tr>
            <td><%= ticket.citation_number%></td>
            <td><%= ticket.date %></td>
            <td>$<%= ticket.price %></td>
            <td>$<%= ticket.fee %></td>
            <td>$<%= ticket.price + ticket.fee %></td>
          </tr>
        </tbody> 
        <% end %>
      <% end %>
      </table> 
  </div>
</div>

  

  	



