<p>You have just recieved a parking ticket <%= @user.name.upcase %></p>

<p>Here are the details of the your ticket.</p>
<p>Ticket Citation Number: <%= @ticket.citation_number %></p>
<p>Ticket Date Issued: <%= @ticket.date %></p>
<p>Ticket Price: $<%= @ticket.price %></p>
<p>Ticket Fee: $<%= @ticket.fee%></p>
<p>Ticket Total: <b>$<%= @ticket.fee + @ticket.price %></b></p>

<p><a href="https://step1.caledoncard.com/citations/milwaukee.html">Pay Tickets</a></p>
