<%= form_for(@ticket, html: { class: "form-horizontal"}) do |f| %>
	<%= f.hidden_field :plate_id, value: @plate_id %>
	<div class="control-group">
		<%= f.label :citation, class: 'control-label' %>
		<div class="controls">
			<%= f.text_field :citation %>
		</div>
	</div>
	<div class="control-group" >
    	<div class="controls">
      <%= f.submit 'Add', class: 'btn btn-primary'%>
    </div>
  </div>
<% end %>
